<ion-header>
    <ion-toolbar color="black">
       <button ion-button menuToggle>
         <ion-icon style="color:#fff;" name="menu"></ion-icon>
       </button>
       <ion-title>Change Password</ion-title>
       <ion-buttons end class="rbutton">
          <button ion-button clear><img width="15px" src="assets/img/rlogo.png"></button>
       </ion-buttons>
   </ion-toolbar>
</ion-header>


<ion-content class="margintop" padding style="background: url(assets/img/loginbg.jpg); background-size:cover;">
<div class="login_outer">
  <div class="logo"><img src="assets/img/logofull.png"></div>
<div class="form_sec">
<form #changeForm="ngForm" (ngSubmit)="changepass(changeForm)" novalidate>
  <ion-list>
  <ion-item>
    <ion-input type="password" minlength="5" placeholder="Enter your Old Password" [(ngModel)]="data.password"  name='password' required #password="ngModel"></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
        <div *ngIf="password.errors && (password.dirty || password.touched)">
        <div [hidden]="!password.errors.required" >
         Password is required
        </div>
    </div>
    <div *ngIf="password.errors && (password.dirty || password.touched)" >
       <div [hidden]="!password.errors.minlength" >
          Minimum length 5 character 
        </div>
    </div>
   </ion-label>
  <ion-item>
    <ion-input type="password" minlength="5" placeholder="Enter your New Password" [(ngModel)]="data.newpassword" name='newpassword' required #newpassword="ngModel" ></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
    <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
       <div [hidden]="!newpassword.errors.required" >
         Password is required
        </div>
    </div>
    <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" >
       <div [hidden]="!newpassword.errors.minlength" >
          Minimum length 5 character 
        </div>
    </div>
  </ion-label>

  <ion-item>
    <ion-input type="password" minlength="5" placeholder="Confirm Password" [(ngModel)]="data.conpassword" name='conpassword' required #conpassword="ngModel"></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
    <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)">
       <div [hidden]="!conpassword.errors.required" >
         Password is required
        </div>
    </div>
    <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)" >
       <div [hidden]="!conpassword.errors.minlength" >
          Minimum length 5 character 
        </div>
    </div>
   </ion-label>
</ion-list>
<div class="centerbutton">
   <button class="custom_btn" color="red" [disabled]="!changeForm.form.valid" style="text-transform: uppercase;" ion-button round>Submit</button>
</div>
</form>
</div>
</div>

</ion-content>
