page-termsdjsubs {
    .termsdjsubs p{
        color: #fff;
    }
    .termsdjsubs li{
        color: #fff;
    }
    .termsdjsubs ul {
        padding-left: 25px;
    }
    .back-button{
        display: none !important;
    }
    .content .main h3{
        width: 100%;
        float: left;
        color: #222222;
        margin: 0px;
        font-weight: 500;
        font-size: 17px;
        text-align: center;
     }
     .scroll-content {
        margin-top: 44px !important;
     }
}
