<!--
  Generated template for the RequesthistorydjPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <ion-title>Request History</ion-title>
    <div class="logo">
    	<img src="assets/img/rlogo.png">
    </div>
  </ion-navbar>

</ion-header>



<ion-content padding>
 <div class="past">
	<ion-list>
      <ion-item *ngFor="let req of reqhistdata; let i = index">
        	<div class="img-sec">
        		<img src="assets/img/headphn.png">
          </div>
          <div class="right-sec" *ngIf="req?.ClubgoerRequest.request_type==1">
            <h3>Song request : {{req?.TipOption.name}}</h3>
            <h2>Song name : {{req?.ClubgoerRequest.songname}} </h2>
            <p>Artist name : {{req?.ClubgoerRequest.artist_name}}</p>
          </div>
          <div class="right-sec" *ngIf="req?.ClubgoerRequest.request_type==3">
              <h3>Shoutout</h3>
              <h2>Shoutout type : {{req?.ClubgoerRequest.shoutout_type}} </h2>
              <p>Shoutout name : {{req?.ClubgoerRequest.shoutout_name}}</p>
          </div>
            <p>Requested By : {{req?.Clubgoer.complete_name}}</p>
          
      </ion-item>
      <div class="unshow" *ngIf="reqhistdata?.length == 0">
        <h3>No data available</h3>
      </div>
    </ion-list>
</div>
</ion-content>
