<!--
  Generated template for the PaymenthistorydjPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <ion-title>Payment History</ion-title>
    <div class="logo">
    	<img src="assets/img/rlogo.png">
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<div class="past">
		<ion-list>
	      <ion-item *ngFor="let pay of payhistdata; let i = index">
	        	<div class="right-sec">
	        		<button [ngStyle]="{'background-color': pay?.ClubgoerRequest.buttoncolor}" *ngIf="pay?.ClubgoerRequest.buttoncol" ion-button (click)="refundnow(pay?.ClubgoerRequest.id,pay?.ClubgoerRequest.djshare,pay?.ClubgoerRequest.songname,pay?.ClubgoerRequest.artist_name,pay?.ClubgoerRequest.adminemail)">Refund</button> 
							<button [ngStyle]="{'background-color': pay?.ClubgoerRequest.buttoncolor}" ion-button *ngIf="!pay?.ClubgoerRequest.buttoncol">Refunded</button> 
							<p>${{pay?.ClubgoerRequest.djshare}}</p>
	        	</div>
	        	<h2>{{pay?.Clubgoer.complete_name}}</h2>
	        	<h3>{{pay?.Event.event_name}}</h3>
	        	<p>{{pay?.ClubgoerRequest.songname}} ,{{pay?.ClubgoerRequest.artist_name}} </p>
	      </ion-item>
	  </ion-list>
	</div>

	<div class="total" *ngIf="totalpay>0">
		<h2>Total Received</h2>
		<h3>${{totalpay}}</h3>
	</div>

	<div class="unshow" *ngIf="payhistdata?.length == 0">
		<h3> No payment available</h3>
	</div>

</ion-content>
