page-privacy {
    .content .main h3{
		width: 100%;
	    float: left;
	    color: #222222;
	    margin: 0px;
	    font-weight: 500 !important;
	    font-size: 15px;
	    text-align: center;
     }
    
     .content .main p{
        width: 100%;
        float: left;
        color: #222222;
        margin: 0px;
        font-weight: 400;
        font-size: 12px;
        margin-top: 5px;
        letter-spacing: 0.5px;
       
     }
}
