<!--
  Generated template for the VoteupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <button ion-button menuToggle>
      <ion-icon style="color:#ffae00;" name="menu"></ion-icon>
    </button>
    <ion-title>Voteup Request</ion-title>
    <ion-buttons end class="rbutton">
      <button ion-button clear><img width="15px" src="assets/img/rlogo.png"></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background: url(assets/img/loginbg.jpg); background-size:cover;">
  <div class="voteup">
    <ion-list no-lines>
      <ion-item *ngFor="let request of requests; let i = index">
        <h2>{{request?.ClubgoerRequest.songname}}</h2>
        <p>{{request?.TipOption.name}}</p>
        <ion-note item-end="" class="note note-ios"> 
          <button color="light" clear small ion-button icon-left>
            {{request?.RequestLike.length}}
            <ion-icon *ngIf="request?.ClubgoerRequest.like>0" color="yellow" style="font-size:13px; padding-left:8px;" name="thumbs-up"></ion-icon>
            <ion-icon *ngIf="request?.ClubgoerRequest.like==0" color="yellow" style="font-size:13px; padding-left:8px;" name="thumbs-down"></ion-icon>
          </button> 
        </ion-note>
        <ion-note item-end="" class="note time">${{request?.ClubgoerRequest.tip_amount}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
